<div class='navbar-fixed'>
  <nav class='bottom-nav'>
    <div class='container'>
      <div class='nav-wrapper'>
        <ul id="nav-list" class="left">
        </ul>
      </div>
    </div>
  </nav>
</div>
